$base-color: #1E88E5;
$box-shadow-ui: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

body {
  font-family: Roboto, Helvetica, san-serif;
  font-weight: 300;
  background-color: #f4f4f4;
  font-size: 16px;
  line-height: 1.4;
  margin: 0; 
}

p {
  margin: 0;
  margin-bottom: 8px
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: auto;
}


article {
  margin: 16px;
  padding: 16px;
  border-radius: 2px;
  background-color: white;
  box-shadow: $box-shadow-ui;

  h2 {
    margin: 0 0 24px;
    font-weight: 400;
    position: relative;
    z-index: 0;

    &::before {
      content: '';
      display: block;
      border-bottom: 2px solid $base-color;
      position: absolute;
      bottom: -8px;
      width: 100px;
    }
  }

  @media (min-width: 768px) {
    margin: 5px;
  }
}

img {
  max-width: 100%;
}

header {
  /*display: flex;*/

  .avatar {
    /*width: 250px;*/
    flex-shrink: 0;

    img {
      border-radius: 2px 2px 0 0;
    }
  }

  .right {
    flex-grow: 1;
    /*display: flex;*/
    flex-direction: column;

    article {
      flex: 1 1 auto;
    }
  }

  @media (min-width: 768px) {
    .avatar {
      width: 250px;
    }

    &,
    .right {
      display: flex;
    }
  }
}

@media (min-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-wrap: wrap;

    article {
      flex: 1 1 0;
    }
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;

  .item {
    width: 50%;

    .inner {
      padding: 8px;
    }

    a {
      display: block;
      position: relative;
      border-radius: 2px;
      box-shadow: $box-shadow-ui;
      overflow: hidden;
    }

    h4 {
      color: white;
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: 10px 16px;
      font-weight: normal
    }
  }

  @media (min-width: 768px) {
    .item {
      width: 25%;
    }
  }
}

.tag-item {
  h4 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: normal;
    color: $base-color;
  }

  + .tag-item {
    margin-top: 16px;
  }
}

.tags {
  list-style-type: none;
  padding: 0;
  margin: 0 -5px;

  li {
    padding: 5px 16px;
    border-radius: 2px;
    font-weight: normal;
    display: inline-block;
    margin: 5px;
    box-shadow: $box-shadow-ui;
  }
}

.card {
  box-shadow: $box-shadow-ui;
  background: white;
  margin: 16px;
  border-radius: 2px;
  
  .top {
    padding: 16px;
  }

  .title {
    margin-bottom: 8px;
    margin-top: 0;
    font-weight: normal
  }

  .subtitle {
    margin: 0;
  }

  @media (min-width: 768px) {
    margin: 5px;
  }
}

.list-info {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 5px;

    .fa {
      font-size: 20px;
      color: $base-color;
      width: 20px;
      text-align: center;
      margin-right: 10px
    }
  }
}

.exp-item {
  h4 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 18px
  }

  h5 {
    margin: 0 0 6px 0;
    font-size: 16px;
    color: $base-color;
  }

  .location {
    font-size: 14px;
    margin: 0 0 16px;
  }

  + .exp-item {
    border-top: 1px dashed #ddd;
    margin-top: 16px;
    padding-top: 16px
  }
}

.list-extra {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;

    .fa {
      font-size: 40px;
      color: $base-color;
      margin-right: 10px
    }

    h3 {
      margin: 0 0 8px;
    }
  }
}