<section class="section-skills">
  <div class="container">
    <ul class="inline-list skill-list">
      {{#each skills as |skill|}}
        <li style="color: {{skill.color}}">
          <div class="skill-state">
            <div class="wave-wrapper" style="height: {{skill.level}}%">
              <svg
                width="301"
                height="101"
                viewBox="0 0 301 101"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M49.6697 0.0947333C24.6697 0.25218 18.4204 8.09473 0.360352 8.09473V100.801H300.36V8.09473C279.331 8.09473 274.504 0.0947364 249.67 0.0947333C224.627 0.0947301 218.42 8.09473 200.36 8.09473C179.177 8.09473 174.35 0.0947333 149.67 0.0947333C124.665 0.0947333 118.726 8.09473 100.36 8.09473C80.8678 8.09473 74.7397 -0.070645 49.6697 0.0947333Z"
                  fill="currentColor"
                ></path>
              </svg>
            </div>

            <img src="./assets/{{skill.icon}}.svg" alt="React" />
          </div>
          <h4 class="skill-name">{{skill.name}}</h4>
        </li>
      {{/each}}
    </ul>
  </div>
</section>